BODY {
  background-image: url("images/londoncafe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

NAV {
  border-bottom: 5px solid white;
}

I {
  font-size: 50px;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.placa {
  background-image: url("images/placa.jpg");
}