body, p, h1 {
  color: write;
}

.bg {
  background-image: url("images/londoncafe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

NAV {
  border-bottom: 5px solid white;
}

I {
  font-size: 50px;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.placa {
  background-image: url("images/placa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cafe {
  background-image: url("images/cafe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}